body{
    text-decoration: none;
}
a{
    text-decoration: none;
}
.containerM{
    padding-bottom: 80px;
}
.bg-color{
    background-color: #fceae8;
}
.bar-design{
    font-weight: 700;
    color: #ff0047 !important;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    color: white;
}
.cat1{
    background-image: linear-gradient(to bottom right, rgb(243, 56, 56), rgb(144, 24, 219));
    background-color: #ffa500;
    border: 2px solid lightgray;
    border-radius: 10px;
}
.cat2{
    background-image: linear-gradient(to bottom right, red, yellow);
    background-color: #00a4ff;
    border: 2px solid lightgray;
    border-radius: 10px;
}
.cat3{
    background-image: linear-gradient(to bottom right, rgb(194, 18, 97), rgb(210, 25, 25));
    background-color: #ff0047;
    border: 2px solid lightgray;
    border-radius: 10px;
}
.categories img{
    width: 100px;
}
.img-cutting{
    width: 20% !important;
}
.img-cutting2{
    width: 23.5% !important;
}
/* .button-design{
    background-image: linear-gradient(to bottom right, red, yellow);
} */

.button-design {background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%)}
.button-design {
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 5px;
 }

 .button-design:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
.card{
    border: none;
    box-shadow: 5px 5px 15px lightgray;
}
.shoes-size{
    width: 35% !important;
}
.img-resize{
    width: 90% !important;
}
.bg-color-change{
    background-color: rgb(216, 211, 211) !important;
}
#subscribe{
    height: 250px;
    border-radius: 10px;
}
#subscribe h6{
    color: rgb(255, 40, 40);
}
footer{
    text-align: center;
    padding: 20px 0;
}
.discount{
    color: #969696;
}
.price-color{
    color: red;
    font-size: 20px;
    font-weight: 700;
}